<div class="login jumbotron center-block">
    <form role="form" (submit)="join($event)">
        <div class="form-group">
            <label for="name">Имя</label>
            <input [(ngModel)]="name" type="text" name="name" class="form-control" id="name" placeholder="Имя" required>
        </div>
        <div class="form-group">
            <label for="color">Цвет</label>
            <input [(ngModel)]="color" type="color" name="color" class="form-control" id="color" placeholder="Цвет" required>
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
    </form>
</div>