<div class="row">
    <div class="col-md-9">
        <div style="height: 80vh; overflow-y: scroll" id="chat-output">
            <p *ngFor="let message of messages" [style.color]="message?.sender?.color">
                {{message?.sender?.name}} : {{message?.message}}
            </p>
        </div>
        <form class="form-inline">
            <div class="col-md-10">
                <input type="text" [(ngModel)]="currentMessage" class="form-control" name="message" required
                       style="width: inherit">
            </div>
            <button type="submit" (click)="sendMessage($event)" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    <div class="col-md-3">
        <ul>
            <li *ngFor="let user of users" [style.color]="user?.color"> {{user?.name}}</li>
        </ul>
    </div>
</div>